/* font-family: 'Archivo', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika', sans-serif; */
:root {
  --background-color: rgb(252, 251, 251);
  --font-color: rgb(0, 0, 0);
  --secod-font-color: rgb(101, 101, 101);
  --secondary-font-color: rgb(179, 179, 179);
  --background-on-hover: rgb(215, 214, 214);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif";
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: #c850c0; */
  /* gap: 10px; */
  /* overflow-x: hidden; */
}

.middle-section {
  display: flex;
  justify-content: space-evenly;
  /* width: 100%; */
}

a {
  text-decoration: none;
  color: var(--font-color);
  font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif";
  font-size: 0.9rem;
  font-weight: 550;
}

body {
  background-color: var(--background-color);
  /* border: 1px solid red; */
  /* position:static; */
  min-height: 100vh;
  /* width: 98vw; */
  overflow-x: hidden;
}

/* styling navbar section  */
.navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  width: 245px;
  /* justify-content: space-between; */
  background-color: var(--background-color);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-inline: 10px;
  border-right: 0.1px solid rgba(76, 75, 75, 0.466);
  position: sticky;
  top: 0px;
}
.navbar > a {
  font-weight: 200;
}

@media (max-width: 750px) {
  .container .navbar {
    flex-direction: row;
    background-color: var(--background-color);
    position: fixed;
    z-index: 1000;
    height: 60px;
    bottom: -1px;
    top: auto;
    gap: 0;
    border-right: none;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-shadow: -1px 14px 20px 4px black;
  }

  .middle-section .post-section {
    padding: 40px 5px;
  }

  .navbar a {
    display: none;
  }

  .navbar .sub-section {
    padding: 10px 10px;
  }

  #hidden {
    display: none;
  }

  #hidden1 {
    display: none;
  }

  #hidden2 {
    display: none;
  }

  .instagram-text-logo {
    display: none;
  }
}

@media (max-width: 1198px) {
  .navbar .sub-section a {
    display: none;
  }

  .navbar .menu-section a {
    display: none;
  }

  .navbar .sub-section {
    gap: 0;
  }

  .instagram-text-logo {
    display: none;
    /* position: absolute; */
  }

  .navbar {
    width: 79px;
  }
}

@media (max-width: 1003px) {
  .follow-section {
    display: none;
  }

  .middle-section .post-area {
    padding-inline: 0;
  }
}

@media (max-width: 690px) {
  .post-section .story-section {
    justify-content: space-evenly;
  }

  .story-section #story-7 {
    display: none;
  }
}

@media (max-width: 562px) {
  .story-section #story-6 {
    display: none;
  }
}

@media (max-width: 482px) {
  .story-section #story-5 {
    display: none;
  }
}

@media (max-width: 402px) {
  .story-section #story-4 {
    display: none;
  }
}

@media (max-width: 323px) {
  #story-3 {
    display: none;
  }
}

@media (max-width: 259px) {
  #story-2 {
    display: none;
  }
}

.instagram-text-logo {
  width: 100px;
  margin: 15px 20px;
  cursor: pointer;
}

.instagram-text-logo img {
  width: 100%;
  /* filter: brightness(5); */
}

.sub-section {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.2s ease;
}

.sub-section:hover {
  background-color: var(--background-on-hover);
}

.sub-section:hover i {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section:hover a {
  font-weight: 600;
}

.sub-section:hover .profile-img {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section i {
  font-size: 1.3rem;
  color: var(--font-color);
  transition: all 0.2s ease;
}

.profile-img {
  width: 22px;
  height: 22px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.menu-section {
  display: flex;
  gap: 25px;
  align-items: center;
  /* position: absolute;
    bottom: 10px; */
  margin-top: 23px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.menu-section:hover {
  background-color: var(--background-on-hover);
}

.menu-section:hover i {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.menu-section i {
  color: var(--font-color);
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

/* post section started frome here */
.post-section {
  /* background-color: red; */
  padding: 30px 40px;
  /* border: 2px solid pink; */
  background-color: var(--background-color);
  max-width: 710px;
}

.story-section {
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  overflow-x: scroll;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  /* overflow:scroll; */
  /* overflow-x: auto; */
}
.story-section::-webkit-scrollbar {
  white-space: nowrap;
}

.story {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.story-image {
  /* height: 60px; 
    width: 55px; */
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-image: cover;
}

.story-image img {
  width: 90%;
  height: 90%;
  border: 2px solid var(--background-color);
  border-radius: 50%;
  background-image: cover;
  background-position: center;
  background-size: cover;
}

.story span {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  font-size: 0.8rem;
  font-weight: 500;
  /* backgroun  d-color: red; */
  /* position: relative; */
  /* bottom: 20px; */
}

.post-area {
  margin-top: -30px;
  padding-inline: 80px;
  margin-bottom: 50px;
}

.post-main {
  color: var(--font-color);
}

.post-image {
  width: 40px;
  height: 40px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-image img {
  width: 90%;
  height: 90%;
  border: 2px solid var(--background-color);
  border-radius: 50%;
}

.post-username {
  color: var(--font-color);
  font-size: 1rem;
}

.one-day {
  font-size: 0.8rem;
  color: var(--secod-font-color);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-inline: 5px;
}

.post-header i {
  color: var(--font-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.post-header i:hover {
  color: var(--secondary-font-color);
}

.post-left-header {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.post-left-header i {
  color: rgb(85, 85, 250);
}

.post-left-header i:hover {
  color: rgb(30, 30, 150);
}

.post-main-image {
  margin-top: 10px;
  /* background-color:black; */
  position: relative;
  width: 100%;
}

.post-main-image img video {
  width: 100%;
  border-radius: 1px;
}

.post-fotter {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  padding-inline: 5px;
}

.post-fotter i {
  font-size: 1.2rem;
  cursor: pointer;
  /* font-weight: 2000; */
  transition: all 0.2s ease;
}

.post-fotter i:hover {
  color: var(--secondary-font-color);
}

.post-fotter-left {
  display: flex;
  gap: 20px;
}

.post-description {
  margin-block: 3px;
  padding-inline: 5px;
}

.post-liked {
  margin-block: 7px;
  font-size: 0.8rem;
  color: var(--secod-font-color);
  cursor: pointer;
}

.title {
  font-size: 0.9rem;
  color: var(--secod-font-color);
  cursor: pointer;
}

.title span {
  color: var(--font-color);
  font-weight: 200;
}

.comments {
  margin-block: 5px;
  font-size: 0.8rem;
  color: var(--secod-font-color);
  cursor: pointer;
}

/* profile follow section startted fome here */

.profile-follow-image {
  width: 40px;
  height: 40px;
  border:1px solid #c850c0;
  border-radius: 50%;
}

.profile-follow-image img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.profile-follow-content {
  color: var(--font-color);
}

.profile-follow-left {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.profile-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 7px;
}

.profile-follow-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.follow {
  color: rgb(19, 85, 240);
  font-weight: 20;
  font-size: 0.7rem;
  font-weight: 550;
  line-height: 0.1;
  transition: all 0.1s ease;
}

.follow:hover {
  color: var(--font-color);
}

.profile-id {
  color: var(--font-color);
  font-size: 0.8rem;
  font-weight: 550;
}

.profile-name {
  color: var(--secod-font-color);
  font-size: 0.7rem;
  margin-top: 5px;
  font-weight: 100;
  cursor: pointer;
}

.suggestion {
  color: var(--secod-font-color);
  font-size: 0.9rem;
  font-weight: 500;
}

.see-all {
  color: var(--secod-font-color);
  font-size: 0.8rem;
  transition: all 0.1s ease;
}

.see-all:hover {
  color: var(--secondary-font-color);
}

.follow-section {
  /* margin-top: 46px; */
  width: 600px;
  /* background-color: #4158d0; */
  padding: 30px 20px;
}

.suggestion-follow {
  display: flex;
  justify-content: space-between;
  color: var(--font-color);
  margin-block: 10px;
}

.copyrights {
  color: var(--secod-font-color);
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}

.profile-foolow-hovering {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.profile-foolow-hovering:hover {
  background-color: var(--background-on-hover);
}

.nav-hidden {
  display: none;
}

.nav-hidden i {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--font-color);
  transition: all 0.2s ease;
}

.nav-hidden i:hover {
  color: var(--secondary-font-color);
}

.nav-hidden-logo {
  width: 136px;
  cursor: pointer;
}

.nav-hidden-logo img {
  width: 100%;
}

.nav-hide-2 {
  display: flex;
  gap: 30px;
}

@media (max-width: 750px) {
  .nav-hidden {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    align-items: center;
  }

  .middle-section .post-section {
    padding: 0;
    padding-bottom: 20px;
  }
}

/* custom card css */

:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gry: rgb(160, 151, 190);
  --color-primary: hsl(252, 75%, 60%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);

  --btn-padding: 0.6rem 2rem;
  --border-radius: 0;
  --card-border-radius: 0;
  --search-padding: 0.6rem 2rem;
  --card-padding: 1rem;

  --stk-top-left: 5.4rem;
  --stk-top-right: -18rem;
}
/* share menu */
.share-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 11;
  overflow-y: scroll;
}
.share-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 11;
  overflow-y: scroll;
}
.share-btn {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 11;
  overflow-y: scroll;
}
.share-icons {
  display: flex;
  flex-direction: column;
  position: relative;
  /* top: 50%; */
  /* transform: translate(0, -50%); */
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.share-icons a {
  cursor: pointer;
  font-size: xxx-large;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #0000008f;
  background-color: rgba(0, 128, 0, 0.438);
  padding: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 11;
  overflow: hidden;
}
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 19;
  overflow-y: scroll;
}
.upload-form {
  top: 50%;
  width: 32vw;
  height: 70vh;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background: var(--color-white);
  /* background-color: red; */
  border-radius: var(--card-border-radius);
  z-index: 12;
  display: flex;
  box-shadow: 2px 2px 2px #0000003f;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 5px;
}
.main-nav {
  /* position: relative; */
  /* width: 100%; */
  /* height: 100%; */
  padding: 1rem;
  border-bottom: 0.1px solid #00000067;
}


.main-nav h3 {
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.upload-nav {
  display: flex;
  cursor: pointer;
  position: relative;
  height: 80%;
  align-items: end;
  justify-content: center;
  /* background-color: red; */
  margin-bottom: 40px;
  gap: 1rem;
  padding: 0.5rem;
}
.upload-form input {
  width: 100%;
}

.upload-form button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

.upload-form button:hover {
  background: hsl(252, 64%, 69%);
}

.upload-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  /* background-color: red; */
}

.img-cnt {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}
#file_inp {
  display: none;
}
.upload-err {
  color: red;
  display: none;
}
.feeds,
video {
  object-fit: cover;
  width: 450px;
  max-height: 480px;
  border-radius: 5px;
}
/* comments */

.comment {
  cursor: pointer;
}

.comment-popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-textarea {
  height: 80px;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-button {
  background-color: #4267b2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

.comment-button:hover {
  background-color: #385898;
}

.comments-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
}

.comment {
  display: flex;
  margin-bottom: 20px;
}

.comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-details {
  display: flex;
  flex-direction: column;
}

.comment-username {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-text {
  margin: 0;
}
/* search card */

.search-card {
  margin: auto;
  width: 380px;
  height: 100%;
  position: absolute;
  left: -600px;
  z-index: 22;
  display: flex;
  gap: 20px;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 20px;
  border: 0.5px solid rgba(76, 75, 75, 0.466);
  box-shadow: 2px 2px 2px #00000052;
  transition: all ease 0.2s;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.search-inp {
  width: 100%;
  height: 35px;
  /* background-color: #fff; */
  border-radius: 50px;
}
.mdl-textfield__input {
  width: 100%;
  height: 100%;
  /* border: none; */
  border-radius: 50px;
  display: flex;
  padding: 0 10px;
  justify-content: center;
}
.search-content {
  width: 100%;
  top: 60px;
  position: sticky;
  background-color: #fff;
  height: 100%;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  gap: 20px;
}
.search-content a {
  display: flex;
  /* border: .1px solid #333; */
  border-radius: 15px;
  width: 100%;
  height: 50px;
  align-items: center;
  background: #ffffff;
  padding: 8px 10px;
  gap: 8px;
  /* padding: 5px 20px; */
}
.search-content a:hover {
  background-color: var(--background-on-hover);
}
.search-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: #c850c0; */
}
.search-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.search-name {
  min-width: 50px;
  /* background-color; */
}
.chat-user:hover {
  cursor: pointer;
}
/* .sub-section a{
  text-decoration: none !important;
} */
/* menu overlay */
.menu-overlay {
  width: 220px;
  position: fixed;
  height: 460px;
  z-index: 80;
  top: 80px;
  left: 10px;
  background-color: #fff;
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
  padding: 20px 5px;
}
.middle-flex {
  display: flex;
  width: 100%;
  background-color: red;
  /* justify-content: space-around; */
}
.menu-bar {
  width: 100%;
  height: 40px;
  position: relative;
  /* background-color: #c850c0; */
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
  gap: 10px;
}
.menu-bar a {
  font-weight: 300;
}
.menu-bar:hover {
  background-color: var(--background-on-hover);
}

/* create story */
.overlay4 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 11;
  overflow: hidden;
}
.story-inp {
  display: none;
}
.story-img {
  display: none;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.story-img span {
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem;
}
.story-img img {
  max-width: 80%;
  max-height: 80%;
}
.story-img > video {
  max-width: 80%;
  height: 90%;
  object-position: center;
  object-fit: cover;
}
/* story overlay */
.overlay3 {
  position: fixed;
  height: 100%;
  width: 100vmax;
  background-color: rgba(0, 0, 0, 0.694);
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 90;
  animation: ins 0.5s;
}

.logo {
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
}
.card {
  position: relative;
  height: 900px;
  width: 460px;
  padding: 20px;
  border-radius: 10px;
  /* background-image: url('https://images.pexels.com/photos/1043471/pexels-photo-1043471.jpeg'); */
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #94d2e9;
  cursor: pointer;
}
/* story image inside a card after name and time */
.story_img {
  top: 11%;
  position: absolute;
  height: 80%;
  width: 24%;
  object-fit: cover;
  border-radius: 10px;
  /* z-index: 999; */
}

.progress_bar_wrap {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #848380;
}
.progress_bar {
  width: 0;
  height: 5px;
  border-radius: 10px;
  background: #fff;
}

.profile {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 14px;
}
.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.yours {
  color: #fff;
}
.time {
  color: #dbdbdb;
}
.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cover {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #fff;
  width: 170px;
  border: radius 5px;
}
.cover img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}
.col {
  display: flex;
  flex-direction: column;
}

.next-btn,
.prev-btn {
  position: absolute;
  top: 8%;
  height: 90%;
  width: 50%;
  border: none;
  background-color: transparent;
  color: white;
}
.next-btn {
  right: 0;
}
.prev-btn {
  left: 0;
}
.cross-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
/* play btn at top right side */
.play_btn {
  position: absolute;
  top: 1.8rem;
  right: 1rem;
  /* color: white; */
  font-size: 1.5rem;
  cursor: pointer;
}
.ri-arrow-left-line {
  font-size: 2rem;
}
.ri-arrow-right-line {
  font-size: 2rem;
}
.add_story {
  position: absolute;
  cursor: pointer;
}
.add_story_btn {
  position: absolute;
  top: 0;
  right: 0;
}
/* notification */
.notification {
  width: 380px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 2px 5px #00000052;
  border-radius: 10px;
  position: absolute;
  z-index: 111;
  border: 0.1px solid #33333359;
  padding: 20px;
  left: -600px;
  display: flex;
  transition: all ease 0.2s;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
}
.notification-list {
  margin: 0px;
}

.notification-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  transition: background-color 0.3s ease-in-out;
}

.notification-item:hover {
  background-color: #f7f7f7;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification-content {
  flex-grow: 1;
}

.username {
  font-weight: bold;
  color: #333;
}

.timestamp {
  color: #888;
  font-size: 12px;
}

.notification-list::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ddd;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}
.cross {
  height: 40px;
}
.active {
  font-weight: bold !important;
  background-color: var(--background-on-hover);
}
/* share to chat overlay */
#popup-container {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  width: 299px;
  height: 419px;
  overflow: scroll;
}
#popup-container::-webkit-scrollbar {
  display: none;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.user-list {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid #ddd;
}
.send-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.img-name-container {
  display: flex;
  gap: 10px;
}
.profile-name {
  font-size: 0.8rem;
  /* font-weight: 500; */
}
/* .profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
} */
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* post preview */
.main-nav-post {
  /* position: relative; */
  /* width: 100%; */
  /* height: 100%; */
  padding: 1rem;
  border-bottom: 0.1px solid #00000067;
}

.main-nav-post h3 {
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.upload-nav-post {
  display: flex;
  cursor: pointer;
  position: relative;
  height: 80%;
  align-items: end;
  justify-content: center;
  /* background-color: red; */
  margin-bottom: 40px;
  gap: 1rem;
  padding: 0.5rem;
}
.post-img {
  display: none;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-img span {
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem;
}
.post-img img {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
  object-position: center;
}
.post-img > video {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
  object-position: center;
}
/* post menu overlay */
.post-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 11;
  overflow-y: scroll;
}
.menu-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  /* padding: 20px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  min-width: 342px;
  min-height: 287px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* overflow: scroll; */
  box-sizing: border-box;
  vertical-align: baseline;
  justify-content: center;
  gap: 8px;
}
.menu-items {
  min-height: 41px;
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ddd;
  /* border-top: 1px solid rgb(var(--ig-elevated-separator)); */
  cursor: pointer;
  font-size: 14px;
  /* line-height: 1.5; */
  /* margin: 0; */
  /* min-height: 48px; */
  /* padding: 4px 8px; */
  text-align: center;
  vertical-align: middle;
}
/* story views */
.view-info {
  position: absolute;
  top: 32px;
  left: 333px;
  display: flex;
  align-items: center;
}

.delete-story-btn {
  position: absolute;
  top: 28px;
  left: 379px;
  display: flex;
  align-items: center;
}

.delete-story-btn,
.view-info i {
  font-size: 1.2rem;
  margin-right: 5px;
}

.delete-story-btn {
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.viewer-count {
  font-size: 1rem;
  color: #555; /* Viewer count text color */
}

.view-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.view-popup.show-popup {
  display: flex;
}
.view-popup-container {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  padding: 5px;
  z-index: 99909;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.view-popup-header {
  display: flex;
  justify-content: space-between;
}

.view-popup-content {
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.viewer-item {
  margin-bottom: 10px;
  display: flex;
}
.profile-pic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.viewer-item span {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}
.view-popup-body {
  padding: 4px;
  overflow: scroll;
}
.view-popup-body::-webkit-scrollbar {
  display: none;
}
