/* Variables */
:root {
  --primaryColor: #fafafa;
  --secondaryColor: #efefef;
  --borderColor: #dbdbdb;
  --tabTextColor: #8e8e8e;
}

/* Mixin */
.buttonStyle {
  background-color: transparent;
  border: none;
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  background-color: var(--primaryColor);
  /* background-color: aqua; */
}

/* Profile Styles */

.container {
  /* width: calc(100%-340px); */
  height: fit-content;
  /* background-color: red; */
}
.profile {
  /* width: 100%; */
  height: fit-content;
  /* background-color: aqua; */
  display: flex;
  gap: 20px;
  padding: 40px;
  /* align-items: center; */
}
.profile_desc {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}
.profile_name {
  display: flex;
  width: fit-content;
  /* padding: 5px; */
  height: fit-content;
  align-items: center;
  gap: 10px;
}
.profile_name button {
  padding: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.profile_bio {
  max-width: 260px;
  /* background-color: #0095f6; */
  height: fit-content;
}
.profile_bio h6 {
  width: 100%;
  width: 100%;
  /* background-color: red; */
  /* height: fit-content; */
  /* display: inline; */
  word-wrap: break-word;
  white-space: normal;
}
.links {
  all: unset;
  cursor: pointer;
}
.profile_stats {
  display: flex;
  gap: 20px;
  align-items: center;
}
.profile_picture {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  /* background-color: red; */
  overflow: hidden;
  border: 2px solid #c850c096;
}
.profile_picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* border: 2px solid #c850c0; */
  object-fit: cover;
}

/* Section Styles */
/* post section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container,
.image-container {
  position: relative;
}

.video-icon,
.image-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

video {
  border: none;
  outline: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.grid-item:hover .overlay {
  opacity: 1;
}

.like-comment {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  gap: 10px;
}

.like-comment i {
  margin-right: 5px;
}

.profile__section {
  /* Tab Styles */
  .profile__section__tab {
    overflow: hidden;
    border-top: 1px solid var(--borderColor);
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
  }

  /* Tab Button Styles */
  .profile__section__tab button {
    background-color: transparent;
    border: none;
    padding: 20px 0px 0px 0px;
    margin: 0 20px;
    transition: 0.3s;
    font-size: 14px;
    color: var(--tabTextColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  .profile__section__tab button svg {
    margin-right: 5px;
  }

  /* Tab Content Styles */
  .profile__section__tab__tabcontent {
    display: inline;
  }

  /* Container Styles */
  .profile__section__tab__tabcontent__container {
    max-width: 1300px;
  }

  /* Image Styles */
  .profile__section__tab__tabcontent__container__image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .profile__section__tab__tabcontent__container__image img {
    width: 30%;
    object-fit: contain;
    flex: 1;
  }

  .profile__section__tab__tabcontent__container__image img:nth-child(2) {
    margin: 7px 14px;
  }

  /* Active Tab Styles */
  .profile__section__tab .active {
    border-top: 2px solid #5c5c5c;
    color: #5c5c5c;
  }
}
/* nav  */
/* nav css */
.navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  width: 245px;
  /* justify-content: space-between; */
  background-color: var(--background-color);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-inline: 10px;
  border-right: 0.1px solid rgba(76, 75, 75, 0.466);
  position: sticky;
  top: 0px;
}

@media (max-width: 750px) {
  .container .navbar {
    flex-direction: row;
    background-color: var(--background-color);
    position: fixed;
    z-index: 1000;
    height: 60px;
    bottom: -1px;
    top: auto;
    gap: 0;
    border-right: none;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-shadow: -1px 14px 20px 4px black;
  }

  .middle-section .post-section {
    padding: 40px 5px;
  }

  .navbar a {
    display: none;
  }

  .navbar .sub-section {
    padding: 10px 10px;
  }

  #hidden {
    display: none;
  }

  #hidden1 {
    display: none;
  }

  #hidden2 {
    display: none;
  }

  .instagram-text-logo {
    display: none;
  }
}

@media (max-width: 1198px) {
  .navbar .sub-section a {
    display: none;
  }

  .navbar .menu-section a {
    display: none;
  }

  .navbar .sub-section {
    gap: 0;
  }

  .instagram-text-logo {
    display: none;
    /* position: absolute; */
  }

  .navbar {
    width: 79px;
  }
}
.instagram-text-logo {
  width: 100px;
  margin: 15px 20px;
  cursor: pointer;
}
.instagram-text-logo img {
  width: 100%;
  /* filter: brightness(5); */
}
.sub-section {
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  color: black;
  transition: all 0.2s ease;
}
.sub-section a {
  all: unset;
}

.sub-section:hover {
  background-color: rgb(215, 214, 214);
}

.sub-section:hover i {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section:hover a {
  font-weight: 600;
}

.sub-section:hover .profile-img {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section i {
  font-size: 1.3rem;
  color: var(--font-color);
  /* color: black; */
  transition: all 0.2s ease;
}

.profile-img {
  width: 22px;
  height: 22px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.menu-section {
  display: flex;
  gap: 25px;
  align-items: center;
  /* position: absolute;
    bottom: 10px; */
  margin-top: 23px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.menu-section:hover {
  background-color: var(--background-on-hover);
}

.menu-section:hover i {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.menu-section i {
  color: var(--font-color);
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
}

/* overlay */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 700px;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popup-header h2 {
  margin: 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.popup-content {
  margin-bottom: 20px;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
}

.cancel-btn {
  margin-right: 10px;
}

.save-btn {
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10px;
  margin-top: 20px;
}

.popup-content input[type="text"],
.popup-content input[type="email"],
.popup-content input[type="date"],
.popup-content select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  grid-column: 1 / -1;
}

.popup-content input[type="text"]:focus,
.popup-content input[type="email"]:focus,
.popup-content input[type="date"]:focus,
.popup-content select:focus {
  outline: none;
  border-color: #1877f2;
}

.popup-content h3 {
  margin: 0 0 10px;
  font-size: 18px;
  grid-column: 1 / -1;
}

.popup-content select {
  margin-bottom: 10px;
}

.popup-content button {
  margin-right: 10px;
  margin-top: 10px;
  justify-self: end;
}
.active {
  font-weight: bold !important;
  background-color: rgb(215, 214, 214);
}
.profile_msg button {
  background-color: #0095f6;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600 !important;
  color: #fff;
}
.profile_block button {
  background-color: #f60000e0;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600 !important;
  color: #fff;
}
/* follow and followers overlay */
/* followers */
.share-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 9999;
  overflow-y: scroll;
}
#popup-container {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  width: 299px;
  height: 419px;
  overflow: scroll;
}
#popup-container::-webkit-scrollbar {
  display: none;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.user-list {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid #ddd;
}
.send-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.img-name-container {
  display: flex;
  gap: 10px;
}
.profile-name {
  font-size: 0.8rem;
  /* font-weight: 500; */
}
/* .profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
} */
.profile-img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* following */
.share-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 9999;
  overflow-y: scroll;
}
#popup-container1 {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  width: 299px;
  height: 419px;
  overflow: scroll;
}
#popup-container1::-webkit-scrollbar {
  display: none;
}

#close-button1 {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.user-list1 {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid #ddd;
}
.send-button1 {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.img-name-container1 {
  display: flex;
  gap: 10px;
}
.profile-name1 {
  font-size: 0.8rem;
  /* font-weight: 500; */
}
.profile-img1{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
