html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.swiper-wrapper {
  align-items: center !important;
  /* background-color: lightblue; */
  /* display: flex !important; */
  /* align-items: center; */
  /* justify-content: center;  */
  /* flex-direction: column !important; */
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: blue; */
  align-items: center;
  justify-content: center;
}
.feature {
  width: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: fit-content;
  font-size: xx-large;
  /* background-color: #385898; */
}
.profile {
  width: 32px;
  height: 32px;
  /* background-color: red; */
}
.swiper-slide {
  width: 40%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  /* background-color:rgba(228, 20, 183, 0.164); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  display: none;
  transform: translate3d(0px, -50%, 0);
}
.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* nav css */
.navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  width: 245px;
  /* justify-content: space-between; */
  background-color: var(--background-color);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-inline: 10px;
  border-right: 0.1px solid rgba(76, 75, 75, 0.466);
  position: sticky;
  top: 0px;
}

@media (max-width: 750px) {
  .container .navbar {
    flex-direction: row;
    background-color: var(--background-color);
    position: fixed;
    z-index: 1000;
    height: 60px;
    bottom: -1px;
    top: auto;
    gap: 0;
    border-right: none;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-shadow: -1px 14px 20px 4px black;
  }

  .middle-section .post-section {
    padding: 40px 5px;
  }

  .navbar a {
    display: none;
  }

  .navbar .sub-section {
    padding: 10px 10px;
  }

  #hidden {
    display: none;
  }

  #hidden1 {
    display: none;
  }

  #hidden2 {
    display: none;
  }

  .instagram-text-logo {
    display: none;
  }
}

@media (max-width: 1198px) {
  .navbar .sub-section a {
    display: none;
  }

  .navbar .menu-section a {
    display: none;
  }

  .navbar .sub-section {
    gap: 0;
  }

  .instagram-text-logo {
    display: none;
    /* position: absolute; */
  }

  .navbar {
    width: 79px;
  }
}
.instagram-text-logo {
  width: 100px;
  margin: 15px 20px;
  cursor: pointer;
}
.instagram-text-logo img {
  width: 100%;
  /* filter: brightness(5); */
}
.sub-section {
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.2s ease;
}
.sub-section a {
  all: unset;
}

.sub-section:hover {
  background-color: rgb(215, 214, 214);
}

.sub-section:hover i {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section:hover a {
  font-weight: 600;
}

.sub-section:hover .profile-img {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section i {
  font-size: 1.3rem;
  color: var(--font-color);
  transition: all 0.2s ease;
}

.profile-img {
  width: 22px;
  height: 22px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.menu-section {
  display: flex;
  gap: 25px;
  align-items: center;
  /* position: absolute;
    bottom: 10px; */
  margin-top: 23px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.menu-section:hover {
  background-color: var(--background-on-hover);
}

.menu-section:hover i {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.menu-section i {
  color: var(--font-color);
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
/* end navbar */
/* post overlay */
:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gry: rgb(160, 151, 190);
  --color-primary: hsl(252, 75%, 60%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);

  --btn-padding: 0.6rem 2rem;
  --border-radius: 0;
  --card-border-radius: 0;
  --search-padding: 0.6rem 2rem;
  --card-padding: 1rem;

  --stk-top-left: 5.4rem;
  --stk-top-right: -18rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 11;
}
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.414);
  display: none;
  z-index: 19;
  overflow-y: scroll;
}
.upload-form {
  top: 50%;
  width: 32vw;
  height: 70vh;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background: var(--color-white);
  /* background-color: red; */
  border-radius: var(--card-border-radius);
  z-index: 12;
  display: flex;
  box-shadow: 2px 2px 2px #0000003f;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 5px;
}
.main-nav {
  /* position: relative; */
  /* width: 100%; */
  /* height: 100%; */
  /* padding: 1rem; */
  border-bottom: 1px solid rgb(214, 213, 213);
}

.main-nav h3 {
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.upload-nav {
  display: flex;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  height: 80%;
  align-items: end;
  justify-content: center;
  /* background-color: red; */
  margin-bottom: 40px;
  gap: 1rem;
  padding: 0.5rem;
}
.upload-form input {
  width: 100%;
}

.upload-form button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

.upload-form button:hover {
  background: hsl(252, 64%, 69%);
}

.upload-cnt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  /* background-color: red; */
}

.img-cnt {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.post-img {
  display: none;
  width: 100%;
  height: 70%;
  align-items: center;
  /* justify-content: center; */
  /* gap: 20px; */
  flex-direction: column;
}

.post-img span {
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem;
}
.image-preview {
  width: 90%;
  height: 90%;
  
}
.post-img .image-preview img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  height: 100%;
}
.post-img .vdo-preview {
  width: 90%;
  height: 90%;
  
}
.post-img .vdo-preview video {
  width: 100%;
  height: 100%;
  object-fit:contain;
  object-position: center;
}
img {
  width: 100%;
  display: block;
}
#file_inp-reels {
  display: none;
}
.upload-err {
  color: red;
  display: none;
}
/* comments */

.comment {
  cursor: pointer;
}

.comment-popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-textarea {
  height: 80px;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-button {
  background-color: #4267b2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

.comment-button:hover {
  background-color: #385898;
}

.comments-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
}

.comment {
  display: flex;
  margin-bottom: 20px;
}

.comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-details {
  display: flex;
  flex-direction: column;
}

.comment-username {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-text {
  margin: 0;
}
/* search card */
.search-card {
  margin: auto;
  width: 380px;
  height: 100%;
  position: absolute;
  left: -600px;
  z-index: 22;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 20px 20px 20px 10px;
  border: 0.5px solid rgba(76, 75, 75, 0.466);
  box-shadow: 2px 2px 2px #00000052;
  transition: all ease 0.2s;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.search-card h2,
h4 {
  margin-left: 10px;
}

.search-inp {
  height: 35px;
  border-radius: 80px;
  padding-left: 10px;
}
.mdl-textfield__input {
  width: 94%;
  height: 100%;
  outline-color: #0000007c;
  border-radius: 50px;
  display: flex;
  padding: 0 10px;
  justify-content: center;
}
.search-content {
  width: 100%;
  top: 60px;
  position: sticky;
  background-color: #fff;
  height: 100%;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  gap: 20px;
}
.search-content a {
  display: flex;
  border-radius: 20px;
  width: 94%;
  /* box-shadow: 2px 2px 2px  #0000005e; */
  -moz-box-shadow: 0 0 2px #999;
  -webkit-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
  align-items: center;
  background: #fff;
  gap: 8px;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
}
.search-content a:hover {
  background-color: rgb(215, 214, 214);
  transition: all ease 0.5s;
}
.search-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #c850c0;
  overflow: hidden;
  /* background-color: #c850c0; */
}
.search-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.search-name {
  min-width: 50px;
  /* background-color; */
}
.chat-user:hover {
  cursor: pointer;
}
/* menu overlay */
.menu-overlay {
  width: 240px;
  position: fixed;
  height: 380px;
  z-index: 80;
  bottom: 160px;
  transition: all ease-in-out 0.2s;
  left: 10px;
  background-color: #fff;
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
  padding: 20px 5px;
}
.middle-flex {
  display: flex;
  width: 100%;
  background-color: red;
  /* justify-content: space-around; */
}
.menu-bar {
  width: 100%;
  height: 40px;
  cursor: pointer;
  /* background-color: #c850c0; */
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
  gap: 10px;
}
.menu-bar:hover {
  background-color: #799be077;
}
.menu-overlay a {
  color: #000;
  text-decoration: none;
}
a {
  all: unset;
}

/* Add this CSS style to your existing styles */
.icon-container {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin: 10px;
  color: #fff; /* Set icon color */
}

.icon-container i {
  font-size: 20px; /* Adjust the icon size as needed */
  cursor: pointer;
}
.swiper-slide {
  position: relative;
}

.video-info {
  position: absolute;
  bottom: 50px;
  left: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.author-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.author-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.follow-btn {
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: #fff;
  cursor: pointer;
}
/* notification */
.notification {
  width: 380px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 2px 5px #00000052;
  border-radius: 10px;
  position: absolute;
  z-index: 111;
  border: 0.1px solid #33333359;
  padding: 20px;
  left: -600px;
  display: flex;
  transition: all ease 0.2s;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
}
.notification-list {
  margin: 0px;
  padding: 0%;
  /* height: 100vh; */
}
.notification-list a:hover {
  background-color: rgb(215, 214, 214);
  cursor: pointer;
}

.notification-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 3px 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 15px; */
  transition: background-color 0.3s ease-in-out;
}

.notification-item:hover {
  background-color: rgb(215, 214, 214);
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border: 1px solid #c850c0;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.notification-content {
  flex-grow: 1;
}

.username {
  font-weight: bold;
  color: #333;
}

.timestamp {
  color: #888;
  font-size: 12px;
}

/* .notification-list::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ddd;
  /* margin-bottom: 15px; */
/* } */

a {
  text-decoration: none;
}
.active {
  font-weight: bold !important;
  background-color: rgb(215, 214, 214) !important;
}
